*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container{
    /* background: #000; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#canvas1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#audio1{
    width: 50%;
    margin: 50px auto;
    display: block;
}
#fileUpload{
    color: #fff;
    position: absolute;
    top: 150px;
    z-index: 100;
}
#stopButton{
    left: 100px;
}
button{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}